.btn {
  font-size: 1.03rem;
  padding: 8px 30px;
  font-weight: 600;
  color: white;
  border: 2px solid black;

  &:hover {
    cursor: pointer;
  }

  &.primary {
    background-color: rgb(137, 109, 250);
    border-color: rgb(137, 109, 250);

    &.outlined {
      background-color: white;
      color: rgb(137, 109, 250);
    }
  }

  &.secondary {
    background-color: rgb(151, 151, 155);
    border-color: rgb(151, 151, 155);

    &.outlined {
      background-color: white;
      color: rgb(151, 151, 155);
    }
  }

  &.success {
    background-color: rgb(101, 245, 96);
    border-color: rgb(101, 245, 96);

    &.outlined {
      background-color: white;
      color: rgb(101, 245, 96);
    }
  }

  &.danger {
    background-color: rgb(245, 89, 99);
    border-color: rgb(245, 89, 99);

    &.outlined {
      background-color: white;
      color: rgb(245, 89, 99);
    }
  }

  &.warning {
    background-color: rgb(249, 205, 62);
    border-color: rgb(249, 205, 62);

    &.outlined {
      background-color: white;
      color: rgb(249, 205, 62);
    }
  }

  &.info {
    background-color: rgb(10, 217, 155);
    border-color: rgb(10, 217, 155);

    &.outlined {
      background-color: white;
      color: rgb(10, 217, 155);
    }
  }

  &.light {
    background-color: white;
    color: black;
    border-color: rgb(228, 227, 227);
  }

  &.dark {
    background-color: rgb(12, 11, 100);
    border-color: rgb(12, 11, 100);

    &.outlined {
      background-color: white;
      color: rgb(12, 11, 100);
    }
  }

  &.link {
    background-color: white;
    color: rgb(41, 41, 250);
    border-color: transparent;
    font-weight: 500;
  }

  &.default {
    border-radius: 5px;
  }

  &.rounded {
    border-radius: 50px;
  }
}
