@import "./color.scss";

.loginSignupPage {
  .loginSignupInformationContainer {
    margin: 0 auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px;

    .loginSignupLogo {
      background-image: url("../assets/img/logo-leet.png");
      margin: 25px auto 15px auto;
      width: 170px;
      height: 40px;
      background-position: center center;
      background-size: cover;
    }

    h4 {
      margin-bottom: 5px;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .loginSignupSubtitle {
      font-size: 1.1rem;
      font-weight: 500;
    }

    .onlySignUpsubtitleWeight {
      font-weight: 500;
    }
  }

  .loginSignupInputsContainer {
    padding-top: 40px;

    .input {
      margin: 20px 0;
    }
  }

  .loginSignupButton {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .loginSignupParagraph {
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;

    a {
      color: map-get($map: $colors, $key: "black");
    }
  }

  .loginSignupImage {
    display: none;
  }

  .checkboxLabel {
    a {
      color: map-get($map: $colors, $key: "blue");
      text-decoration: none;
    }
  }

  .onlySignupButtonMargin {
    margin-bottom: 12px;
  }
}

@media screen and(min-width: 768px) {
  .loginSignupPage {
    display: flex;
    min-height: 100vh;

    .loginSignupInformationContainer {
      width: 45%;
    }

    .loginSignupImage {
      display: block;
      background-image: url("../assets/img/pc.jpeg");
      width: 55%;
      background-position: center center;
      background-size: cover;
    }
  }
}

@media screen and(min-width: 1024px) {
  .loginSignupPage {
    .loginSignupInformationContainer {
      width: 30%;
    }

    .loginSignupImage {
      width: 70%;
    }
  }
}
