@import "../../utils/color.scss";

.checkBoxContainer {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;

    &:checked {
      accent-color: map-get($map: $colors, $key: "primary");
    }
  }

  label {
    padding-left: 5px;
    cursor: pointer;
  }
}
